<launch>
<node pkg="rosbag" type="record" name="rosbag_record_drone" args="/fsm_trajectory_tracker/planning_vis/state
/goal
/gps_pose
/gps_position
/gps_transform
/joint_states
/marker_reg_point
/occupied_cells_vis_array
/octomap_point_cloud_centers
/octomap_server/parameter_descriptions
/octomap_server/parameter_updates
/planner/waypoints
/planning/bspline
/planning/current_state
/planning/pos_cmd
/planning/replan
/planning/start_moving
/planning/stop_moving
/planning/wait_for_goal
/planning_vis/obs_map
/planning_vis/search_space
/planning_vis/traj
/planning_vis/trajectory
/projected_map
/sdf_map/inflate_cloud
/r200/depth/camera_info
/r200/depth/image_raw
/r200/depth/image_raw/compressed
/r200/depth/image_raw/compressed/parameter_descriptions
/r200/depth/image_raw/compressed/parameter_updates
/r200/depth/image_raw/compressedDepth
/r200/depth/image_raw/compressedDepth/parameter_descriptions
/r200/depth/image_raw/compressedDepth/parameter_updates
/r200/depth/image_raw/theora
/r200/depth/image_raw/theora/parameter_descriptions
/r200/depth/image_raw/theora/parameter_updates
/r200/depth/points
/r200_ir/depth/camera_info
/r200_ir/parameter_descriptions
/r200_ir/parameter_updates
/tf
/tf_static 
/imu/data -o /home/geesara/bags/trajectory_m100_bag_new --split --size=4000" respawn="true" />

</launch>