<launch>
  <arg name="max_vel" value="0.8" />
  <arg name="max_acc" value="0.3" />
  <arg name="dynamic" value="0" />
  <arg name="obs_avoidance_dis" value="0.6" />
  <arg name="map_resolution" value="0.4" />
  <node pkg="tf" name="world_map_tf" type="static_transform_publisher" args="0 0 0 0 0 0 world map 100" />
  <node pkg="tf" name="world_base_link_tf" type="static_transform_publisher" args="0 0 0 0 0 0 world base_link 100" />
    <!-- <include file="$(find dji_sdk)/launch/sdk.launch"></include> -->

    <!-- <include file="$(find drone_bringup)/launch/fixed_joints.launch"/> -->
    <!--include file="$(find drone_bringup)/launch/rs_d400_and_t265.launch"/-->
  
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
                <param name="resolution" value="0.4" />
                <param name="frame_id" type="string" value="map" />
                <param name="sensor_model/hit" value="0.7" />
                <param name="sensor_model/miss" value="0.4" />
                <param name="sensor_model/min_range" value="0.2" />
                <param name="sensor_model/max_range" value="3.5" />
                <param name="occupancy_min_z" value="0.0" />
                <param name="occupancy_max_z" value="10.6" />
                <param name="pointcloud_min_z" value="0.0" />
                <param name="pointcloud_max_z" value="10.6" />
                <remap from="cloud_in" to="/d400/depth/color/points" />
                <!-- <remap from="cloud_in" to="/r200/depth/points" /> -->
  </node>

  <!-- main node -->
  <node pkg="plan_manage" name="dyn_planner_node" type="dyn_planner_node" output="screen" respawn="true">
  <!-- remap -->
    <remap from="/laser_cloud_surround" to="/octomap_point_cloud_centers"/>
    <remap from="/odom_world" to="/mavros/local_position/odom"/>

  <!-- sdf map updating -->
    <param name="sdf_map/origin_x" value="-20.0" type="double"/>
    <param name="sdf_map/origin_y" value="-20.0" type="double"/>
    <param name="sdf_map/origin_z" value="0.5" type="double"/>

    <param name="sdf_map/map_size_x" value="40.0" type="double"/>
    <param name="sdf_map/map_size_y" value="40.0" type="double"/>
    <param name="sdf_map/map_size_z" value="1.6" type="double"/>

    <param name="sdf_map/resolution_sdf" value="$(arg map_resolution)" type="double"/>
    <param name="sdf_map/ceil_height" value="2.5" type="double"/>
    <param name="sdf_map/update_rate" value="2.0" type="double"/>
    <param name="sdf_map/update_range" value="4.0" type="double"/>
    <param name="sdf_map/inflate" value="0.0" type="double"/>
    <param name="sdf_map/radius_ignore" value="0.2" type="double"/>
    <!-- planning fsm -->
    <param name="fsm/flight_type" value="1" type="int"/>
    <param name="fsm/thresh_replan" value="4.0" type="double"/>
    <param name="fsm/thresh_no_replan" value="3.0" type="double"/>
    <param name="fsm/max_tries_for_path_finding" value="20" type="int"/>
    
    <param name="fsm/wp_num" value="3" type="int"/>
    <param name="fsm/wp0_x" value="8.0" type="double"/>
    <param name="fsm/wp0_y" value="8.0" type="double"/>
    <param name="fsm/wp0_z" value="0.5" type="double"/>
    <param name="fsm/wp1_x" value="-8.0" type="double"/>
    <param name="fsm/wp1_y" value="8.0" type="double"/>
    <param name="fsm/wp1_z" value="0.5" type="double"/>
    <param name="fsm/wp2_x" value="-8.0" type="double"/>
    <param name="fsm/wp2_y" value="-8.0" type="double"/>
    <param name="fsm/wp2_z" value="2.5" type="double"/>
  <!-- planner manager -->
    <param name="manager/time_sample" value="0.5" type="double"/>
    <param name="manager/max_vel" value="$(arg max_vel)" type="double"/>
    <param name="manager/dynamic" value="$(arg dynamic)" type="int"/>
    <param name="manager/margin" value="$(arg obs_avoidance_dis)" type="double"/>
  <!-- path searching -->
  <!-- path searching -->
    <param name="search/max_tau" value="0.8" type="double"/>
    <param name="search/init_max_tau" value="0.8" type="double"/>
    <param name="search/max_vel" value="$(arg max_vel)" type="double"/>
    <param name="search/max_acc" value="$(arg max_acc)" type="double"/>
    <param name="search/w_time" value="15.0" type="double"/>
    <param name="search/horizon" value="9.0" type="double"/>
    <param name="search/lambda_heu" value="5.0" type="double"/>
    <param name="search/resolution_astar" value="0.3" type="double"/>
    <param name="search/time_resolution" value="0.8" type="double"/>
    <param name="search/margin" value="0.5" type="double"/>
    <param name="search/allocate_num" value="100000" type="int"/>
    <param name="search/check_num" value="5" type="int"/>
    <param name="search/allocate_num" value="100000" type="int"/>
    <param name="search/number_of_paths" value="4" type="int"/>
    <param name="search/lqr_feasibility_max_vel" value="0.15" type="double"/>
    <param name="search/lqr_min_dis" value="0.4" type="double"/>
    <param name="search/lqr_min_dt" value="0.15" type="double"/>
    <param name="search/lqr_num_of_iteration" value="20" type="int"/>
    <param name="search/rrt_avoidance_dist" value="0.8" type="double"/>
    <param name="search/rrt_star_steer_min" value="1.0" type="double"/>
    <param name="search/rrt_search_space_min_z" value="1.0" type="double"/>
    <param name="search/rrt_star_steer_max" value="1.5" type="double"/>
    <param name="search/rrt_order_of_search_space" value="4" type="int"/>
    
    <param name="search/lqr_obs_radius" value="0.4" type="double"/>
    <param name="search/lqr_consider_obs" value="true" type="bool"/>
    <param name="search/lqr_number_of_closest_obs" value="10" type="int"/>
    <!-- trajectory optimization -->
    <param name="optimization/lamda1" value="10.0" type="double"/>
    <param name="optimization/lamda2" value="0.6" type="double"/>
    <param name="optimization/lamda3" value="0.00001" type="double"/>
    <param name="optimization/lamda4" value="0.001" type="double"/>
    <param name="optimization/dist0" value="0.8" type="double"/>
    <param name="optimization/dist1" value="0.0" type="double"/>
    <param name="optimization/max_vel" value="$(arg max_vel)" type="double"/>
    <param name="optimization/max_acc" value="$(arg max_acc)" type="double"/>
    <param name="optimization/algorithm" value="11" type="int"/>
    <param name="optimization/max_iteration_num" value="100" type="int"/>
    <param name="optimization/order" value="3" type="int"/>
    <param name="bspline/limit_vel" value="$(arg max_vel)" type="double"/>
    <param name="bspline/limit_acc" value="$(arg max_acc)" type="double"/>
    <param name="bspline/limit_ratio" value="1.1" type="double"/>
  </node>

  <!-- trajectory server -->
  <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen" respawn="true">
      <remap from="/odom_world" to="/mavros/local_position/odom"/>
      <remap from="/position_cmd" to="planning/pos_cmd"/>
      <param name="traj/yaw_angle_smoothing_window_size" value="300" type="int"/>
      <param name="traj/traj_duration_for_stopping" value="150" type="double"/>
  </node>

  <!-- use simulator -->
  <include file="$(find plan_manage)/launch/path_px4.xml">
  </include>

<!--
  <node pkg="rosbag" type="record" name="rosbag_record" args="/octomap_point_cloud_centers /mavros/local_position/pose /tf /goal/marker_text /goal /visualization_marker /dynamic/obj /dynamic/pose_0 /planning_vis/trajectory  /dynamic/pose_1 /dynamic/pose_2 /dynamic/pose_3 /dynamic/pose_4 /dynamic/pose_5 /dynamic/pose_6 /dynamic/pose_7 /dynamic/pose_8 /dynamic/pose_9 /filter/traj /start_goal /planning/traj /planning/path /planning/state /hybridastar/path /astar/visited /basic_controls/update -o /home/op/rosbags/fast_planner" respawn="true" />
-->

 <!-- <node pkg="rosbag" type="record" name="rosbag_record_drone" args="/pylon_camera_node_aca1300/image_raw/compressed /velodyne_packets /dji_sdk/acceleration_ground_fused 
 /dji_sdk/angular_velocity_fused /dji_sdk/display_mode /dji_sdk/flight_status /dji_sdk/gimbal_angle /dji_sdk/gps_health /dji_sdk/gps_position /dji_sdk/odometry 
 /dji_sdk/height_above_takeoff /dji_sdk/imu /dji_sdk/attitude /dji_sdk/local_frame_ref /dji_sdk/local_position /dji_sdk/rtk_info_position /dji_sdk/rtk_info_yaw 
 /dji_sdk/rtk_position /dji_sdk/rtk_velocity /dji_sdk/rtk_yaw /dji_sdk/velocity /imu/data /octomap_point_cloud_centers /mavros/local_position/pose /tf /goal/marker_text /goal 
 /visualization_marker /dynamic/obj /dynamic/pose_0 /planning_vis/trajectory  /dynamic/pose_1 /dynamic/pose_2 /dynamic/pose_3 /dynamic/pose_4 /dynamic/pose_5 /dynamic/pose_6 
 /dynamic/pose_7 /dynamic/pose_8 /dynamic/pose_9 /filter/traj /start_goal /planning/traj /planning/path /planning/state /hybridastar/path /astar/visited /basic_controls/update 
 -o /home/ubuntu/sdcard/planner0_ split size=4000" respawn="true" /> -->
   <!--rosparam file="$(find plan_manage)/config/octomap.yaml" command="load" ns="/octomap_server"/-->  

</launch>
